@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Karla", ;
}
.hi {
  border: 1px solid #85E790;
}
.pad20 {
  padding: 20px;
  margin-top: 20px;
  
}

.displaynone {
  display: none;
 }

 .Farmers {
	width: 100%;
	/* border:1px solid red; */
	height: 45vh;
}

.char {
	height: 200px;
	width: auto;
	max-width: 200px;
}

.imagename {
	height: 100%;
}
.imagename h2 {
	font-style: bolder;
	color: blue;
	text-align: center;
}
.Farmers {
	width: 100%;
	/* border:1px solid red; */
	height: 45vh;
}

.farmer {
	display: inline-block;
	padding-top: 80px;
	background-color: lightgreen;
	box-shadow: 5px 5px 5px #232b33;
	text-shadow: 2px 2px 2px #607588;

	min-width: 16rem;
	max-width: 16rem;
	margin: 20px;

	object-fit: cover;
	vertical-align: top;
	text-align: center;
}

.farm {
	height: 200px;
	width: auto;
	max-width: 100%;
}

.textcent {
	text-align: center;
}

.textali {
 margin: auto;
}


.imgdetailpage {
	width: 700px;
	height:auto;
	margin: auto;
	border-radius: 8px;
	margin-top: 10px;
}

.inputshadow {
	 
	border-color: #1BB518;
	border-width: 5px;
	text-align: center;
	color: #1BB518;
	font-weight: bolder;
	font-size: 20px;
	filter: drop-shadow(0 0 0.5rem #1BB518);
}