@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Karla", ;
}
.hi {
  border: 1px solid #85E790;
}
.pad20 {
  padding: 20px;
  margin-top: 20px;
  
}

.displaynone {
  display: none;
 }

 .Farmers {
	width: 100%;
	/* border:1px solid red; */
	height: 45vh;
}

.char {
	height: 200px;
	width: auto;
	max-width: 200px;
}

.imagename {
	height: 100%;
}
.imagename h2 {
	font-style: bolder;
	color: blue;
	text-align: center;
}
